<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Pokemon Catcher</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/leaflet.min.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/leaflet.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="section">
            <div class="container">
                <h1 class="title mb-5">Pokemon Catcher</h1>

                <div v-if="page == 'connecting'">
                    <p>Verbinden met de game server...</p>
                </div>

                <div v-if="page == 'connection-close'">
                    <p>De verbinding met de server is verbroken, herlaad de pagina!</p>
                </div>

                <form v-if="page == 'auth'" class="box" @submit.prevent="authPlayer">
                    <h1 class="title is-4">Je bent nieuw hier, wat is je naam?</h1>

                    <div class="field">
                        <input class="input" type="text" v-model="player.name" autofocus>
                    </div>

                    <div class="field">
                        <button type="submit" class="button is-link">Ga verder</button>
                    </div>
                </form>

                <div v-if="page == 'game' && !tracking">
                    <p>Pokemon Catcher gebruikt jou geolocatie om je te kunnen volgen, geef hier toestemming voor en begin met spelen!</p>
                    <p>Als je toestemming hebt gegeven en dit scherm zie je weer, herlaad dan de pagina!</p>
                </div>

                <div v-if="page == 'game' && tracking">
                    <div class="box">
                        <h1 class="title is-3">Hallo {{ player.name }}!</h1>
                        <p class="my-3">Begin met lopen van je tocht, als je in de buurt komt van een Pokemon Spawn krijg je de mogelijkheid om een pokemon te vangen</p>
                        <div class="buttons" v-if="player.pokemons.length < pokemonsMax && pendingSpawns.length > 0">
                            <button class="button is-link is-large is-fullwidth" @click="isCatching = true, hasCatched = false">Je ziet een pokemon!</button>
                        </div>

                        <hr>
                        <h2 class="title is-4">Jouw pokemons ({{ player.pokemons.length }} / {{ pokemonsMax }})</h2>
                        <div class="columns is-multiline" v-if="player.pokemons.length > 0">
                            <div class="column is-one-quarter" v-for="pokemon in player.pokemons" :key="pokemon.uniqueId">
                                <pokemon-item :player="player" :pokemon="pokemon" />
                            </div>
                        </div>
                        <p v-else><i>Je hebt op dit moment nog geen elke pokemon gevangen</i></p>
                    </div>

                    <div v-if="isCatching" :class="{ modal: true, 'is-active': isCatching }" style="z-index: 9999;">
                        <div class="modal-background" @click="isCatching = false"></div>

                        <div class="modal-card">
                            <div class="modal-card-head">
                                <p class="modal-card-title">Je ziet een pokemon!</p>
                                <button class="delete" @click.prevent="isCatching = false"></button>
                            </div>

                            <div class="modal-card-body" style="position: relative; overflow: hidden;">
                                <div ref="pokemonItem" style="width: 50%; min-width: 256px; margin: 0 auto; transform: scale(0);">
                                    <pokemon-item :player="player" :pokemon="player.pokemons[0]" :actions="false" />
                                </div>
                                <img ref="pokemonBall" src="/images/icon-512x512.png" style="position: absolute; top: 0; left: 50%; width: 256px; height: 256px; transform: translate(-50%, 50%) scale(0);">
                            </div>

                            <div class="modal-card-foot">
                                <button class="button is-link is-fullwidth is-large" @click.prevent="catchFirstSpawn">{{ hasCatched ? 'Ga verder' : 'Gooi een bal!' }}</button>
                            </div>
                        </div>
                    </div>

                    <div v-if="player.admin" class="box">
                        <h2 class="title is-3">Het admin paneel</h2>

                        <h3 class="title is-4">Spawners</h3>
                        <div class="mb-5" style="padding-top: 50%; position: relative;">
                            <div ref="spawnsMap" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #000;"></div>
                        </div>

                        <h3 class="title is-4">Andere verbonden spelers</h3>
                        <div v-if="otherPlayers.length > 0">
                            <div class="box" v-for="otherPlayer in otherPlayers" :key="otherPlayer.id">
                                <h3 class="title is-4">
                                    {{ otherPlayer.name }}
                                    <span class="tag is-danger ml-3" v-if="otherPlayer.admin">ADMIN</span>
                                </h3>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field has-addons">
                                            <div class="control">
                                                <div class="button is-static">Spelers naam</div>
                                            </div>
                                            <div class="control">
                                                <input class="input" type="text" v-model="otherPlayer.name" @input="otherPlayerChangeName(otherPlayer.id)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field has-addons">
                                            <div class="control">
                                                <div class="button is-static">Andere acties</div>
                                            </div>
                                            <div class="control">
                                                <button :class="`button ${otherPlayer.admin ? 'is-link' : 'is-danger'}`" @click="otherPlayerToggleAdmin(otherPlayer.id)">
                                                    {{ otherPlayer.admin ? 'Maak weer normaal' : 'Geef admin rechten' }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-multiline" v-if="otherPlayer.pokemons.length > 0">
                                    <div class="column is-one-quarter" v-for="pokemon in otherPlayer.pokemons" :key="pokemon.uniqueId">
                                        <pokemon-item :player="player" :pokemon="pokemon" />
                                    </div>
                                </div>
                                <p v-else><i>Deze speler heeft op dit moment nog geen elke pokemon gevangen</i></p>
                            </div>
                        </div>
                        <p v-else><i>Er zijn op dit moment geen andere spelers verbonden</i></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container content">
                <p v-if="connected" class="has-text-success-dark"><b>Verbonden met de server 😀</b></p>
                <p v-else class="has-text-danger-dark"><b>Niet verbonden met de server 😭</b></p>
                <p>Gemaakt door <a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank">Bagheera</a> van de Die Kantanky's</p>
                <p>Voor de broncode check <a href="https://github.com/bplaat/pokemon-catcher" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>

    <template id="pokemon-item-template">
        <div class="card">
            <div class="card-image pokemon-image" :style="`padding-top: 100%; background-image: url('/images/pokemons/${pokemon.id}.png');  background-size: cover; background-position: center center;`"></div>
            <div style="background-color: #f00">
                <div :style="`width: ${ pokemon.currentHealth / pokemon.health * 100}%; height: 8px; background-color: #0b0;`"></div>
            </div>
            <div class="card-content">
                <h2 class="title is-5 mb-2">
                    {{ pokemon.name }}
                    <button v-if="actions" @click="isDeleting = true" class="delete is-pulled-right"></button>
                </h2>
                <p>Level: <b>{{ pokemon.level }}</b></p>
                <p>Levenspunten: <b>{{ pokemon.currentHealth }} / {{ pokemon.health }}</b></p>
                <p>Aanvalspunten: <b>{{ pokemon.attack }}</b></p>
                <p>Verdedigingspunten: <b>{{ pokemon.defense }}</b></p>
            </div>

            <div class="card-footer" v-if="player.admin && actions">
                <a href="#" @click.prevent="healPokemon" class="card-footer-item">Herstel</a>
                <a href="#" @click.prevent="levelPokemon" class="card-footer-item">Level</a>
            </div>

            <div v-if="isDeleting" :class="{ modal: true, 'is-active': isDeleting }" style="z-index: 9999;">
                <div class="modal-background" @click="isDeleting = false"></div>

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Wil je deze Pokemon los laten?</p>
                        <button class="delete" @click.prevent="isDeleting = false"></button>
                    </div>

                    <div class="modal-card-body">
                        <div class="content">
                            <p>Je staat op het punt om deze Pokemon los te laten!</p>
                            <p>Dit betekend dat die niet meer in jouw bezit is en dat je er ook dus niet meer mee kan vechten!</p>
                            <p>Deze actie kun je niet terug draaien, denk er dus goed overna!</p>
                        </div>
                    </div>

                    <div class="modal-card-foot">
                        <button class="button is-danger" @click.prevent="deletePokemon">Los laten</button>
                        <button class="button" @click.prevent="isDeleting = false">Annuleren</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script src="js/game.js"></script>
</body>
</html>
